/* VOLTCHARGE GLOBAL STYLES */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

:root {
    /* --- Brand & Tech Colors --- */
    --brand-1000:#0000001A;
    --brand-800: #2F3337; 
    --brand-600: #4A4F54; 
    --brand-400: #6B7176; 
    --brand-200: #C9CDD3; 
    --brand-100: #F2F3F5; 
    --tech-600: #637B94; 
    --tech-400: #8FA3B8; 
    --tech-200: #C7D3DF; 
    --tech-100: #EEF3F8; 
    --alert: #C62828;
    --white: #ffffff;
    --cta-main: #FEB740;
    --cta-dark: #2F3337;
    --box-shadow: #d49835;

    /* --- Tipografía Principal --- */
    --font-main: 'Space Grotesk', sans-serif;
    /*--font-main: 'IBM Plex Mono', monospace*/

    /* --- ALIAS PARA ASTRO (AQUÍ ESTÁ EL TRUCO) --- */
    /* Estas variables son las que tus componentes están buscando actualmente */
    --font-header: 'Space Grotesk', sans-serif;
    --font-body: 'Space Grotesk', sans-serif;
    
    /* --- Otros Alias --- */
    --primary: var(--tech-600);
    --text-main: var(--brand-800);
    --text-muted: var(--brand-400);
    --bg-main: var(--brand-100);
    --header-height: 80px;
    --content-max-width: 1280px;
}
*{
    /*outline: 1px solid red !important;/*para ver los elementos precisamente*/

}
/* Aplicación global */
html {
    font-family: var(--font-body); 
    scroll-behavior: smooth; /* Permite el desplazamiento suave al hacer clic en el menú */

}

body {
    font-family: var(--font-main);
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    letter-spacing: -0.01em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header) !important;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.03em;
}

	section[id] {
		scroll-margin-top: 80px;
	}

	img {
		max-width: 100%;
		height: auto;
	}